body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

html,
#root{
  height: 100%;
}

h2 {
  margin: auto 0;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2rem ;
}

.control{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.chat {
  padding: 0 1rem 0 0.5rem;
  background-color: rgb(14,14,16);
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  color: #FFF;
}

img {
  vertical-align: middle;
}

.msgContainer {
  background-color: rgb(40,40,43);
  padding: .7rem;
  margin: 0.2rem 0;
  border-radius: 1.2rem;
  border: 2px solid transparent;
  
}

.new {
  border: 2px solid orange;
  animation-name: rotate-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.badge{
  margin-right: 4px;
}

.modal {
  z-index: 2;
  position: fixed;
  height: 90vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.modal__panel{
  filter: blur(0);
  padding: 20px;
  border-radius: .5rem;
  z-index: 2;
  background-color: rgb(74,74,76);
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.modal__main{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.modal>label{
  width: 7rem;
}

.modal>select{
  height: 1.3rem;
  width: 3rem;
}

.modal>button {
  display: block;
  margin-left: auto;
}


.status__indicator--ok {
  color: limegreen;
}

.status__indicator--reconnecting {
  color: yellow;
}

.status__indicator--disconnected {
  color: red;
}

.control__button{
  height: 1.7rem;
  border-radius: .5rem;
}

.control__textbox{
  height: 1.4rem;
  width: 60%;
  border-radius: .5rem;
}

.control__icon{
  height: 1rem;
  margin-top: -3px;
}

@keyframes rotate-color {
  0% {filter:hue-rotate(0)}
  25% {filter:hue-rotate(90deg)}
  50% {filter:hue-rotate(180deg)}
  75% {filter:hue-rotate(270deg)}
}