html,
body,
#root,
.App,
.chat {
  height: 100%;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-rows: auto 2rem ;
}

.control{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chat {
  padding: 0 1rem 0 0.5rem;
  background-color: rgb(14,14,16);
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  color: #FFF;
}

img {
  vertical-align: middle;
}

.msgContainer {
  background-color: rgb(40,40,43);
  padding: .7rem;
  margin: 0.2rem 0;
  border-radius: 1.2rem;
  border: 2px solid transparent;
  
}

.new {
  border: 2px solid orange;
  animation-name: rotate-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.badge{
  margin-right: 4px;
}

.modal{
  padding: 20px;
  border-radius: .5rem;
  z-index: 2;
  position: fixed;
  height: 20rem;
  margin-top: -10rem;
  width: 30rem;
  margin-left: -15rem;
  background-color: rgb(74,74,76);
  color: white;
  top: 50%;
  left: 50%;
  display: flex;
}

.modal>label{
  width: 7rem;
}

.modal>select{
  height: 1.3rem;
  width: 3rem;
}

.modal>button {
  display: block;
  margin-left: auto;
  margin-top: auto;
}

.control__button{
  height: 1.7rem;
  border-radius: .5rem;
}

.control__textbox{
  height: 1.4rem;
  width: 60%;
  border-radius: .5rem;
}

.control__icon{
  height: 1rem;
  margin-top: -3px;
}

.blur {
  filter: blur(4px);
}

@keyframes rotate-color {
  0% {filter:hue-rotate(0)}
  25% {filter:hue-rotate(90deg)}
  50% {filter:hue-rotate(180deg)}
  75% {filter:hue-rotate(270deg)}
}